@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 12px;
  --background: linear-gradient(
    15deg,
    rgba(168, 202, 240, 1) 20%,
    rgba(233, 240, 250, 1) 80%
  );
  --foreground: #171717;
}

body {
  font-size: var(--font-size);
  color: var(--foreground);
  background: var(--background);
}

main {
  display: grid;
  padding: 0 theme(gap.1rem);
  gap: theme(gap.1rem);
  grid-template-columns: repeat(12, 1fr);
}
